.bancopy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media print {
    .bancopy,
    html {
        display: none;
    }
}

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(60deg, #2c72da, #a6f6fe) --vp-c-brand: #2c72da;
    --vp-c-brand-light: #2c72da;
    --vp-home-hero-name-color: #2c72da;
    --vp-home-hero-name-background: #2c72da;
    --vp-c-brand-lighter: #2c72da;
    --vp-c-brand-dark: #2c72da;
    --vp-c-brand-darker: #2c72da;
    --vp-button-brand-border: #2c72da;
}